# docker-compose.production.yml

volumes:
  pg_data_production:
  static_volume:
  media:

# Всё отличие — заменяем build на image и указываем, какой образ использовать
services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_backend # Качаем с Docker Hub
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_volume:/backend_static
      - media:/media

  frontend:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend  # Качаем с Docker Hub
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static

  gateway:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway  # Качаем с Docker Hub
    env_file: .env
    volumes:
      - static_volume:/staticfiles/
      - media:/media
    depends_on:
      - backend
      - frontend
    ports:
      - 9000:80
